.card {
  position: relative;
  height: 340px;
  width: 340px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  margin: 25px 30px;

  transition: 0.3s;

  .cardTitle {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    z-index: 1;
    position: absolute;
    margin: 0 20px;
    bottom: 5%;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 2;
  }

  &:hover .infos {
    opacity: 1;
    transform: scaleY(1);
  }

  .infos {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: $white;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transform: scaleY(0);
    transition: 0.3s;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
