.carrousel {
  margin: 40px 100px;
  height: 415px;
  position: relative;
  img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }
  %arrowCarrousel {
    position: absolute;
    top: 165px;
    width: 80px;
    height: 50px;
    z-index: 1;
    border: none;
    background: url(../../assets/img/arrow.svg) center/cover;
  }
  .leftArrow {
    @extend %arrowCarrousel;
    left: 25px;
    transform: rotate(90deg);
  }
  .rightArrow {
    @extend %arrowCarrousel;
    right: 25px;
    transform: rotate(-90deg);
  }
}

@media (max-width: 769px) {
  .carrousel {
    margin: 40px 20px;
  }
}

@media (max-width: 376px) {
  .carrousel {
    margin: 30px 20px;
    height: 255px;
    img {
      height: 255px;
      border-radius: 10px;
    }
    %arrowCarrousel376 {
      position: absolute;
      top: 120px;
      width: 20px;
      height: 15px;
      z-index: 1;
    }
    .leftArrow {
      @extend %arrowCarrousel376;
      left: 3px;
    }
    .rightArrow {
      @extend %arrowCarrousel376;
      right: 3px;
    }
  }
}
