%button {
  position: relative;
  height: 50px;
  border-radius: 5px;
  background-color: $color-1;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  color: $white;
  z-index: 1;
  %arrowDropdown {
    height: 25px;
    width: 25px;
    background: url(../../assets/img/arrow.svg) center/cover;
  }
  %arrowDropdownDown {
    @extend %arrowDropdown;
  }
  %arrowDropdownUp {
    @extend %arrowDropdownDown;
    transform: rotate(180deg);
  }
}

%dropdownDesc {
  color: $color-1;
  background-color: $color-3;
  padding: 20px;
  border-radius: 5px;
  margin-top: -8px;
  z-index: -1;
}

.aboutDropdowns {
  .dropdown {
    margin: 30px 200px;
    button {
      @extend %button;
      .dropdownTitle {
        font-size: 24px;
      }
      .arrowDown {
        @extend %arrowDropdownDown;
      }
      .arrowUp {
        @extend %arrowDropdownUp;
      }
    }
    .dropdownDesc {
      font-size: 24px;
      @extend %dropdownDesc;
    }
  }
}

.logementDropdowns {
  display: flex;
  justify-content: space-between;
  margin: 30px 60px;
  .dropdown {
    width: 580px;
    margin: 0 40px;
    button {
      @extend %button;
      .dropdownTitle {
        font-size: 18px;
      }
      .arrowDown {
        @extend %arrowDropdownDown;
      }
      .arrowUp {
        @extend %arrowDropdownUp;
      }
    }
  }
  .dropdownDesc {
    @extend %dropdownDesc;
    font-size: 18px;
  }
}

@media (max-width: 1026px) {
  .aboutDropdowns {
    .dropdown {
      margin: 50px 100px;
    }
  }
  .logementDropdowns {
    .dropdown {
      margin: 0;
      width: 45%;
    }
  }
}

@media (max-width: 769px) {
  %btn768 {
    height: 35px;
    %arrow768 {
      height: 15px;
      width: 20px;
    }
  }
  .aboutDropdowns {
    .dropdown {
      button {
        @extend %btn768;
        .arrowDown,
        .arrowUp {
          @extend %arrow768;
        }
      }
      .dropdownDesc {
        font-size: 16px;
      }
    }
  }
  .logementDropdowns {
    .dropdown {
      button {
        @extend %btn768;
        .arrowDown,
        .arrowUp {
          @extend %arrow768;
        }
      }
    }
    .dropdownDesc,
    li {
      font-size: 16px;
    }
  }
}

@media (max-width: 426px) {
  %dropdown {
    margin: 20px;
  }
  %btn425 {
    height: 30px;
    padding: 10px;
  }
  %arrowDropdown425 {
    height: 9px;
    width: 15px;
  }
  .aboutDropdowns {
    .dropdown {
      @extend %dropdown;
      button {
        @extend %btn425;
        .dropdownTitle {
          font-size: 13px;
        }
        .arrowDown {
          @extend %arrowDropdown425;
        }
        .arrowUp {
          @extend %arrowDropdown425;
        }
      }
      .dropdownDesc {
        font-size: 12px;
      }
    }
  }
  .logementDropdowns {
    margin: 20px;
    flex-direction: column;
    align-items: center;
    .dropdown {
      @extend %dropdown;
      margin-top: 0;
      width: 100%;
      button {
        @extend %btn425;
        .dropdownTitle {
          font-size: 13px;
        }
        .arrowDown {
          @extend %arrowDropdown425;
        }
        .arrowUp {
          @extend %arrowDropdown425;
        }
      }
    }
    .dropdownDesc,
    li {
      font-size: 12px;
    }
  }
}
