%button {
  height: 50px;
  border-radius: 5px;
  background-color: $color-1;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  color: $white;
  %arrow {
    height: 25px;
    width: 25px;
  }
  %arrowDown {
    @extend %arrow;
    background: url(../../assets/img/arrow.svg) center/cover;
  }
  %arrowUp {
    @extend %arrowDown;
    transform: rotate(180deg);
  }
}

%dropdownDesc {
  color: $color-1;
  background-color: $color-3;
  padding: 20px;
}

.aboutDropdowns {
  .dropdown {
    margin: 30px 200px;
    button {
      @extend %button;
      .dropdownTitle {
        font-size: 24px;
      }
      .arrowDown {
        @extend %arrowDown;
      }
      .arrowUp {
        @extend %arrowUp;
      }
    }
    .dropdownDesc {
      font-size: 24px;
      @extend %dropdownDesc;
    }
  }
}

.logementDropdowns {
  display: flex;
  justify-content: space-between;
  margin: 30px 60px;
  .dropdown {
    width: 580px;
    margin: 0 40px;
    button {
      @extend %button;
      .dropdownTitle {
        font-size: 18px;
      }
      .arrowDown {
        @extend %arrowDown;
      }
      .arrowUp {
        @extend %arrowUp;
      }
    }
  }
  .dropdownDesc {
    @extend %dropdownDesc;
    font-size: 18px;
    height: 250px;
  }
}
