@keyframes btnArrow {
  to {
    transform: rotate(180deg);
  }
}

%button {
  height: 50px;
  border-radius: 5px;
  background-color: $color-1;
  width: 100%;
  border: none;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  color: $white;
  transition: all 1s ease;
  %buttonImg {
    color: $white;
    height: 25px;
    width: 25px;
    background: url(../../assets/img/arrow.svg) center/cover;
  }
  &:active {
    .buttonImg {
      animation: btnArrow linear forwards;
    }
  }
}

%dropdownDesc {
  color: $color-1;
  background-color: $color-3;
  padding: 20px;
}

.aboutDropdowns {
  .dropdown {
    margin: 30px 200px;
    button {
      @extend %button;
      .dropdownTitle {
        font-size: 24px;
      }
      .buttonImg {
        @extend %buttonImg;
      }
    }
    .dropdownDesc {
      font-size: 24px;
      @extend %dropdownDesc;
    }
  }
}

.logementDropdowns {
  display: flex;
  justify-content: space-between;
  margin: 30px 60px;
  .dropdown {
    width: 580px;
    margin: 0 40px;
    button {
      @extend %button;
      .dropdownTitle {
        font-size: 18px;
      }
      .buttonImg {
        @extend %buttonImg;
      }
    }
  }
  .dropdownDesc {
    @extend %dropdownDesc;
    font-size: 18px;
    height: 250px;
  }
}
