.navigation {
  ul {
    display: flex;
    margin: 30px;

    a {
      text-decoration: none;
      padding: 10px;
      font-size: 24px;

      li {
        color: $color-1;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          color: $color-3;
        }
      }
    }

    .nav-active {
      position: relative;
      text-decoration: underline;
    }
  }
}

@media (max-width: 769px) {
  li {
    font-size: 18px;
  }
}

@media (max-width: 426px) {
  .navigation {
    ul {
      margin: 0;
      a {
        padding: 5px;
        li {
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }
}
